/* styles for header */
html {
  padding: 0;
}

body {
  max-width: 1080px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
}

#background-carousel a,
#background-carousel li {
  z-index: 10;
}

.active_nav {
  background-color: rgba(131, 118, 89, 0.794);
  /*border: dashed rebeccapurple 2px;*/
  border-radius: 7px;
}

.container1 {
  display: flex;
  justify-content: center;
}

.header-hotel3 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.header-hotel3 li {
  display: block;
  margin: 3% 0;
  padding: 2% 5%;
}

.header-hotel3 a {
  text-decoration: none;
  color: #ffffff;
  text-decoration: none;
  font-weight: lighter;
}

.header-hotel3 li:not(.active_nav) a:hover {
  color: #333;
  text-shadow: 2px 2px 8px whitesmoke;
}

.header-hotel3 + div {
  padding: 5px;
  /*border: rgb(172, 97, 70) 2px dashed;*/
}

#background-carousel img {
  height: 250px;
}

.header-hotel3 {
  width: 100%;
  position: absolute;
  top: 0;

  background-color: rgba(95, 88, 88, 0.356);
}

#background-carousel {
  box-shadow: 0 4px 8px rgb(36, 31, 11);
}
